*{
    margin: auto;
    color: blueviolet;
    padding-inline-start: 0cqb;
    background-color: aquamarine;

}
h1{
    text-align: center;
    align-items: normal;
    color: cornflowerblue;
    background-color: brown;
}